@mixin clear-floats {
  overflow: hidden;
}

$font-size: 16px;
$spacing: 4px;




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: helvetica, sans-serif;
  font-size: $font-size;
  line-height: 1;
  padding: $spacing * 0.5;
  color: #333;
}

h2 {
  font-size: $font-size * 2;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  margin: $spacing * 0.5;
  background: #333;
  color: #fff;
  display: none;
}

section.month {
  @include clear-floats;
}

div.week {
  clear: left;
  @include clear-floats;

  section.month[data-weeks="4"] & { height: 25%; }
  section.month[data-weeks="5"] & { height: 20%; }
}

div.day {
  float: left;
  padding: $spacing * 0.5;
  width: 14%;
  height: 100%;

  &:first-child,
  &:last-child {
    width: 15%;
  }

  div {
    border: 1px solid #aaa;
    box-shadow: 1px 1px 4px #eee;
    text-align: center;
    height: 100%;

    h3 {
      font-size: 100%;
      font-weight: normal;
      background: #eee;
      text-align: right;
      padding: 5px;
      color: #aaa;

      span.weekday {
        float: left;
        font-size: 80%;
        line-height: 16px;
        color: #ccc;
      }
    }
  }

  &.dull {
    opacity: 0.2;
  }

  &.weekend {
    background: #f8f8f8;
  }

  &.checked {
    position: relative;

    span.check {
      display: block;
      margin-top: 0 - ($font-size + (5px * 2));
      color: #3a3;
      /*font-size: 140px;
      line-height: 80px;*/
    }
  }
}
